@{
    ViewBag.Title = "Özet";
    Layout = "_Layout";
}
<h1 class="text-center">Toplantı Özeti</h1>
<p>Toplantıya sizinle birlikte 20 kişi katılıyor.</p>
<a class="btn btn-primary btn-lg" href="/Meeting/Apply">Katılımcıları Listele</a>